<nav>
    <img class="hockeyIcon" src="/nav/hockey.png" alt="IceHockey">
    <div class="site-title">
        <a href="/"><h1>Pick Up Ranker</h1></a>
    </div>
    <ul>
        <li><a class="navLink" href="/">Home</a></li>
        <li><a class="navLink" href="/about">About</a></li>
        <li><a class="navLink" href="/teams">Teams</a></li>
        <li><a class="navLink" href="/stats">Stats</a></li>
    </ul>
</nav>