<div class="matchesContainer">
    <h2>Upcoming Matches</h2>
    <div class="matchesCardContainer">
<!----------------------Matchup---------------------->
        <div class="matchContainer">
            <h3>
                <div class="teamNameLogo">Black</div>
                &nbsp;vs&nbsp;
                <div class="teamNameLogo">White</div>
            </h3>                    
            <h5>Monday, July 27</h5>
            <h5>8:00</h5>
            <h5>@The Skating Edge</h5>
            <div class="puckDropContainer">
                <div class="countDownClass">Puck Drop:</div>
                <div id="countDown2" class="countDownClass">Loading...</div>
            </div>                
        </div>
<!----------------------Matchup---------------------->
       <div class="matchContainer">
            <h3>
                <div class="teamNameLogo">Black</div>
                &nbsp;vs&nbsp;
                <div class="teamNameLogo">White</div>
            </h3>                    
            <h5>Monday, Aug 03</h5>
            <h5>8:00</h5>
            <h5>@The Skating Edge</h5>
            <div class="puckDropContainer">
                <div class="countDownClass">Puck Drop:</div>
                <div id="countDown3" class="countDownClass">Loading...</div>
            </div>
        </div>
<!----------------------Matchup---------------------->
        <div class="matchContainer">
            <h3>
                <div class="teamNameLogo">Black</div>
                &nbsp;vs&nbsp;
                <div class="teamNameLogo">White</div>
            </h3>
            <h5>Monday, July 20</h5>
            <h5>8:00</h5>
            <h5>@The Skating Edge</h5>
            <div class="puckDropContainer">
                <div class="countDownClass">Puck Drop:</div>
                <div id="countDown" class="countDownClass">Loading...</div>
            </div>                
        </div>
    </div>
</div>

<script>
    var countDownDate = new Date("Aug 7, 2020 20:00:00").getTime();
    var countDownDate2 = new Date("Jul 27, 2020 20:00:00").getTime();
    var countDownDate3 = new Date("Aug 3, 2020 20:00:00").getTime();
    var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var distance2 = countDownDate2 - now;
    var distance3 = countDownDate3 - now;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000); 

    var days2 = Math.floor(distance2 / (1000 * 60 * 60 * 24));
    var hours2 = Math.floor((distance2 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes2 = Math.floor((distance2 % (1000 * 60 * 60)) / (1000 * 60));
    var seconds2 = Math.floor((distance2 % (1000 * 60)) / 1000); 

    var days3 = Math.floor(distance3 / (1000 * 60 * 60 * 24));
    var hours3 = Math.floor((distance3 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes3 = Math.floor((distance3 % (1000 * 60 * 60)) / (1000 * 60));
    var seconds3 = Math.floor((distance3 % (1000 * 60)) / 1000); 
      document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    if (distance < 0) {
        document.getElementById("countDown").innerHTML = "Passed";
      }
      document.getElementById("countDown2").innerHTML = days2 + "d " + hours2 + "h "
      + minutes2 + "m " + seconds2 + "s ";
    if (distance2 < 0) {
        document.getElementById("countDown2").innerHTML = "Passed";
      }
      document.getElementById("countDown3").innerHTML = days3 + "d " + hours3 + "h "
      + minutes3 + "m " + seconds3 + "s ";
    if (distance3 < 0) {
        document.getElementById("countDown3").innerHTML = "Passed";
      }
    }, 1000);
    </script>