<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about/about.css">
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="/footer/footer.css">
</head>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
        <div class="aboutMainArea">
            <div class="descriptionContainer">
                <div class="bestPickUpHockeyTeams">Bay Harbor Pickup Hockey</div>
                <p class="description"> "The best pickup skate in the southbay" -The Hockey News<br/><br/>
                    Pickup skates every Monday night 8:00 @ The Skating Edge<br/>
                    <div style="font-weight: bold">Email updated stats to: takatocox@gmail.com</div><hr/><br/>
                    **This first version website will be monitored continuously, and updated accordingly.</p>
            </div>

            <div class="imagesContainer">
                <img src="pickup1.jpg" alt="pickup hockey" class="image">
                <img src="FlyingDustmen.JPG" alt="pickup hockey" class="image">
                <img src="pickup2.jpg" alt="pickup hockey" class="image">
            </div>
        </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>
