body{
  background-image: url("../ice.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  // .zamboni{
  //   width:60px;
  //   height: 100px;
  //   background-color: black;
  //   position: relative;
  //   left: 0;
  //   z-index: -1;
  //   animation-name: zamboni;
  //   animation-duration: 20s;
  //   animation-iteration-count: infinite;
  //   border-radius: 5px;
  // }
}
// @keyframes zamboni{
//   0%   {left:50vw; top:0px;}
//   50%  {left:50vw; top:100vh;}
//   100%  {left:50vw; top:0px;}
// }
.mainAreaContainer{
  min-width: 100vw;
  margin-top: 107px;
  margin-bottom: 57px;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  @media(max-width:800px){
    margin-top: 30px;
}
@media(min-width:850px){
  width: 80%;
}
.matchesContainer{
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  h2{
    margin: 0;
  }
}
.matchesCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  width: 100%;
  max-height: 500px;
  background-color: white;
  margin: 16px;
  box-shadow: 5px 5px 5px 5px rgb(117, 117, 117);
  @media(max-width:400px){
    max-height: 250px;
    border: 1px solid black;
  }
}
.matchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  padding-top:5px;
  border-top: 2px solid rgb(255, 70, 70);
  background-color: rgb(198, 232, 255);
  min-height: 150px;
  h5{
    margin: 0;
    font-size: 15px;
  }
  h4{
    color: red;
  }
  p{
    color: rgb(238, 131, 131);
    font-weight: bold;
  }

}
.puckDropContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countDownClass{
  margin-top:0px;
  color: red;
  font-weight: bold;
}
.statsContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}
ol{
  padding: 0;
  max-height: 300px;
  overflow: auto;
  border-bottom: 1px solid red;
}
a{
  color:black;
}
h3{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 30px;
  .teamNameLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    height:20px;
  }
}
li{
  font-size: 25px;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px;
  padding-right: 3px;
  margin-left: 45px;
}
h6{
  font-size: 12px;
  margin: 0;
  text-decoration: underline;
  border-left: 1px solid black;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
}
.teamAndStats{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  border: 1px solid red;
  border-bottom: none;
  min-width: 280px; 
  background-color: rgb(255, 255, 255);
  .statsValues{
      display: flex;
      flex-direction: row;
  }
  a:hover{
    color: blue;
  }
}
.team{
  margin: 0;
  width: 100%;
  color: black;
  min-width: 200px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.value{
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 25px;
  border-left: 1px solid black; 
  width:20px;
  text-align: center; 
  height: 35px;
}
