.mainAreaContainer {
    width: 100%;
    min-height: 70vh;
    margin-top: 110px;
    margin-bottom: 50px;
    margin-right: 0;
    font-family: 'Times New Roman', Times, serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    @media(max-width: 800px){
      margin-top: 30px;
    }
  }
  
  .mainAreaContainer {
    width: 95%;
    background:none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .mainAreaContainer .bestPickUpHockeyTeams {
    width: 95%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 30px;
    font-weight: 900;
  }
  
  .mainAreaContainer .description {
    font-size: 20px;
    word-wrap: normal;
    width: 95%;
    padding: 0;
  }
  
  .mainAreaContainer .teamsContainer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .mainAreaContainer h2 {
    margin: 5px;
  }
  
  .mainAreaContainer h3 {
    font-size: 40px;
    margin: 0;
  }
  
  .mainAreaContainer li {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 30px;
  }
  
  .mainAreaContainer .homeTitle {
    margin-top: 20px;
  }
  
  .teamAnchor{
      text-decoration: none;
  }
  .mainAreaContainer .teamCard {
    background-color: #51aaf3;
    text-align: center;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #cardID1{
    width:350px;
    height:300px;
    border: 4px solid gold;
    background: linear-gradient(to top right, #51aaf3,60%, gold);
  }
  #cardID2{
    width:300px;
    height:270px;
    border: 4px solid rgb(209, 209, 209);
    background: linear-gradient(to top right, #51aaf3,60%, rgb(206, 205, 205));
  }
  #cardID3{
    width:250px;
    height:240px;
    border: 4px solid rgb(245, 169, 106)
  }
  #cardID4{
    width:225px;
    height:220px;
    border: 2px solid red
  }
  @media(max-width:400px){
    #cardID1,#cardID2,#cardID3,#cardID4{
      width: 225px;
    }
  }
  
  .mainAreaContainer .teamName {
    color: black;
    text-decoration: underline;
  }
  