.mainArea{
    margin-top: 110px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width:800px){
        margin-top: 30px;
    }
    h1{
        font-size:40px;
        color: rgb(17, 0, 255);
    }
    ol{
        margin: 20px;
        min-width: 200px;
    }
    h6{
        font-size: 12px;
        font-weight: 1000;
        margin: 0;
        text-decoration: underline;
        border-left: 2px solid black;
        width: 20px;
        padding-left: 5px;
        padding-right: 5px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        line-height: 35px;
    }
    h4{
        font-size: 25px;
        text-decoration: underline;
        margin: 0;
        padding: 3px;
        padding-right:0;
    }
    li{
        font-size: 25px;
        text-decoration: underline;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 3px;
        padding-right: 0px;
    }
}
.listsComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.playerAndGoals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid blue; 
    .statsValues{
        display: flex;
        flex-direction: row;
        min-width: 25px;
    }
}
.value{
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    font-size: 25px;
    border-left: 1px solid black; 
    width:20px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}
.statsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h3{
        margin-left: 40px;
        font-size: 30px;
        display: flex;
        flex-direction: row;
    }
}
.statValue{
    color: red;
    margin-left: 5px;
}