body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../ice.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    width: 99vw;
  }
.statsMainArea{
    margin-top: 115px;
    margin-bottom: 55px;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width:800px){
        margin-top: 30px;
    }
    .listsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 99vw;
    }
    ol{
        padding: 0;
        margin: 5px;
        border-top: 1px solid red;
    }
    li{
        font-size: 25px;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 3px;
        padding-right: 3px;
        padding-left: 0;
        margin-left: 45px;
        width: 100%;
    }
    h6{
        font-size: 12px;
        font-weight: 1000;
        margin: 0;
        text-decoration: underline;
        border-left: 1px solid black;
        width: 23px;
        padding-left: 5px;
        padding-right: 5px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
    }
    h4{
        font-size: 25px;
        margin: 0;
        margin-left: 45px;
        color: rgb(253, 34, 34);
        padding-right: 3px;
        font-weight: 500;
    }
    a{
        color: black;
        :hover{
            color:blue;
        }
    }
    .nameAndStats{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        min-width: 280px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 65, 65);
        border-top: none;
        .statsValues{
            display: flex;
            flex-direction: row;
        }
    }
    .value{
        padding-left: 5px;
        padding-right: 5px;
        color: red;
        font-size: 25px;
        border-left: 1px solid black; 
        width:23px;
        text-align: center; 
        height: 35px;
    }
}