.mainArea{
  width: 100%;
  margin-top: 117px;
  margin-bottom: 57px;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 75vh;
  @media(max-width:800px){
    margin-top: 30px;
}
}
.teamsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(164, 241, 255);
  margin-bottom: 30px;
}
.teamsTitle{
  font-size: 40px;
  text-decoration: underline;
}
.teamList{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 0;
  margin: 0;
  max-height: 400px;
  max-width: 300px;
}
@media(max-width:685px){
  .teamList{
    justify-content: flex-start;
  }
}
.teamAndStats{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  border: 1px solid red;
  min-width: 270px; 
  .statsValues{
      display: flex;
      flex-direction: row;
  }
}
.team{
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
  color: black;
  min-width: 200px;
  text-decoration: underline;
  margin-left: 25px;
}
.team:hover{
  color: blue;
  cursor: pointer;
}
.value{
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 25px;
  border-left: 1px solid black; 
  width:20px;
  text-align: center; 
  height: 35px;
}
